<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>{% block title %}WikiStack{% endblock %}</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<!--     <link rel="stylesheet" href="/stylesheets/style.css"> -->
  </head>
  <body>
  		<nav class="navbar navbar-inverse navbar-static-top">
		  <div class="container navbar-left">
		  	<a class="navbar-brand" href="/">Wikistack</a>
		    <a class="navbar-text" href="/add">Add Page</a>
        <form class="navbar-form form-inline" role="search">
          <div class="form-group col-xs-8" style="padding-left: 50px">
            <input type="text" class="form-control input-sm" placeholder="Search for a page">
          </div>
          <button class="btn btn-default btn-sm" href="#">Submit</button>
        </form>
		  </div>
		</nav>
    <div class = "col-xs-8">
      {% block content %}{% endblock %}
      <nav class = "navbar navbar-static-bottom">
        <p></p>
  	    <p>&copy Wikistack, Fullstack Academy</p>
  	 </nav>
    </div>
  </body>
</html>
